<div id="footer" class="row text-center">
  <div class="col-3">
    <i class="active-icon fas fa-2x fa-user pointer"></i>
  </div>
  <div class="col-3">
    <i class="fas fa-2x fa-gift pointer"></i>
  </div>
  <div class="col-3">
    <i class="fas fa-2x fa-bell pointer"></i>
  </div>
  <div class="col-3">
    <i class="fas fa-2x fa-comments pointer"></i>
  </div>
</div>
