<nav class="navbar navbar-light bg-light justify-content-between">
  <!-- Company logo -->
  <a class="navbar-brand">
    <img class="menu-icon" src="../assets/logo.png" />
  </a>
  <!-- Menu bar -->
  <a class="navbar-brand">
    <img class="menu-icon float-right" src="../assets/menubar.png" />
  </a>
</nav>
