/* Padding row */
.pad-row {
  padding-top: 20px;
  padding-bottom: 30px;
}

/* Padding card */
.pad-card {
  padding-top: 10px;
}

/* Options icons */
.option {
  padding-left: 8px;
  padding-right: 8px;
}

/* Coverage card */
.coverage-card {
  padding: 7px;
  box-shadow: 10px 6px 9px 2px #011f68;
  margin-bottom: 30px;
}

/* Discover card */
.discover-card {
  box-shadow: 0px 0px 10px -3px #011f68;
}
/* Card-footer */
.card-footer {
  border: none;
}

/* Coverage status  */
.active-coverage {
  color: #05e518;
}

.inactive-coverage {
  color: #f20100;
}
