<div class="row client-info text-center" *ngIf="client">
  <!-- Greating the client -->
  <div class="col-12">
    <div class="multigraph">
      <span class="graph"></span>
    </div>
    <img
      class="avatar rounded-circle"
      src="{{ client.profileImage }}"
      *ngIf="client.profileImage"
    />
    <h1 class="pad-info" *ngIf="client.entity.firstname">
      Hola, {{ client.entity.firstname }}
    </h1>
  </div>
  <!-- Greating the client -->
  <div class="col-4 pointer">
    <h2 class="pad-info">Mis Datos</h2>
  </div>
  <div class="col-4 pointer">
    <h2 class="pad-info">Reclamos</h2>
  </div>
  <div class="col-4 pointer">
    <h2 class="pad-info">Pagos</h2>
  </div>
</div>
<router-outlet></router-outlet>
