/* Client avatar */
.avatar {
  margin-top: 20px;
  height: 100px;
  width: 100px;
}

/* Client info */
.client-info {
  margin-top: -30px;
  margin-left: -25px;
  margin-right: -25px;
  background: white;
  padding-top: 50px;
  padding-bottom: 30px;
  box-shadow: 2px 6px 16px 1px #ced2d6;
}

.pad-info {
  padding-top: 30px;
}

/* Progres bar */

*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: roboto;
}
body {
  background: #eee;
}
.multigraph {
  margin-left: -160px;
}
.multigraph:before {
  content: "";
  width: 160px;
  height: 80px;
  position: absolute;
  border: 10px solid rgba(0, 0, 0, 0.1);
  border-radius: 160px 160px 0 0;
  border-bottom: none;
}

.graph {
  width: 160px;
  height: 80px;
  position: absolute;
  overflow: hidden;
}
.graph:before,
.graph:after {
  width: 160px;
  height: 80px;
  position: absolute;
  top: 100%;
  left: 0;
  border: 10px solid #e8573c;
  content: "";
  border-radius: 0 0 160px 160px; /* 300 300*/
  border-top: none;
  animation: progress-bar 4s;
  transform-origin: center top;
}
.graph:after {
  transform: rotate(120deg);
}

@keyframes progress-bar {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
}

/* Progres bar end */
