/* You can add global styles to this file, and also import other style files */

/* HTML Design */
html {
  min-height: 100%;
}
.content {
  padding-bottom: 50px;
  margin: 30px 25px;
}

/* HTML Design Ends */

.pointer {
  cursor: pointer;
}

.text-right {
  text-align: right;
}

/* Text Design */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: sans-serif !important;
}

h1,
h2 {
  font-weight: 200 !important;
}

h1 {
  color: #243f7e;
}

h2 {
  color: #839ac2;
}

h3 {
  color: #6b7da6;
  font-size: 18px !important;
  font-weight: 300;
}

.title {
  padding-bottom: 30px;
  padding-top: 40px;
}

/* Icons */
.fas,
.far {
  color: #0d2169;
}

.active-icon {
  color: #fa5c39;
}

.inactive-icon {
  color: #e2e2e2;
}
